RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

FallbackResource /public/index.php

ErrorDocument 404 /public/error-404.php
ErrorDocument 403 /public/error-404.php
ErrorDocument 500 /public/error-500.php
