RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

FallbackResource /index.php

ErrorDocument 404 /views/misc/error-404.php
ErrorDocument 403 /views/misc/error-404.php
ErrorDocument 500 /views/misc/error-500.php
